<div class="card-container">
    <button id="<%=provincia.provinciaId%>" class="button-heart<%=provincia.provinciaId%> fa-regular fa-heart corazon">
    </button>
    <a href="/travell/province/<%=provincia.provinciaId%>">
        <div class="provincia-image">
            <img src="/images/provincias/<%=provincia.provinciaImagen%>" id="provincia-image" alt="card-image">
        </div>
        <div class="card-text">
            <h5><%=provincia.provinciaNombre%></h5>
        </div>
    </a>    
</div>